<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.8.1" targetFramework="net462" />
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net462" developmentDependency="true" />
  <package id="Autofac" version="4.6.2" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Nancy" version="2.0.0-clinteastwood" targetFramework="net462" />
  <package id="Nancy.Authentication.Forms" version="2.0.0-clinteastwood" targetFramework="net462" />
  <package id="Nancy.Bootstrappers.Autofac" version="2.0.0-clinteastwood" targetFramework="net462" />
  <package id="Nancy.Hosting.Self" version="2.0.0-clinteastwood" targetFramework="net462" />
  <package id="Nancy.Testing" version="2.0.0-clinteastwood" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.10.1" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net462" />
</packages>